*
{
  margin:0 auto;
  padding:0;
}

body
{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family:sans-serif;
  background:#2c3e50;
}

div.field {
  padding-top: 10px;
}

.panel
{
  background:#2c3e50;
  min-height:60vh;
  height: 100vh;
  min-width:500px;
  position:relative;
  align-items:center;
  margin:0 auto;
}

.panelHead
{
  color:#2c3e50;
  font-family:sans-serif;
  text-align:center;
  min-width:300px;
  width: 50%;
  margin:0 auto;
  padding:20px;
  background:#ecf0f1;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
  
}

.panelHome
{
  position:relative;
  max-width:850px;
  width:80%;
  min-width:300px;
  max-height:850px;
  height: 35vh;
  min-height:300px;
  margin:0 auto;
  align-items: center;
  text-align: center;
  padding-top: 20px
}


label.tag
{
  text-align:left;
  font-family:sans-serif;
  font-weight:700;
  font-size:16px;
  cursor:pointer;
  margin:0 auto;
  padding:10px 0 0 10px;
}

label:hover
{
  text-shadow: 0 0 8px cyan;
  -webkit-transition:.3s linear;
  -moz-transition:.3s linear;
  -o-transition:.3s linear;
  transition:.3s linear;
}


button.logoutbutton
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/logout.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30%;
  height: 20em;
  color:#fff;
  -webkit-transition:.3s linear;
  -moz-transition:.3s linear;
  -o-transition:.3s linear;
  transition:.3s linear;
  margin: 5px auto;
  display: inline-block;
  position:relative;
  border: none;
}

button.callendarbutton
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30%;
  height: 20em;
  color:#fff;
  -webkit-transition:.3s linear;
  -moz-transition:.3s linear;
  -o-transition:.3s linear;
  transition:.3s linear;
  margin: 5px auto;
  display: inline-block;
  position:relative;
  border: none;
}

button.statbutton
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/stat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30%;
  height: 20em;
  color:#fff;
  -webkit-transition:.3s linear;
  -moz-transition:.3s linear;
  -o-transition:.3s linear;
  transition:.3s linear;
  margin: 5px auto;
  display: inline-block;
  position:relative;
  border: none;
}

button.profilebutton
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30%;
  height: 20em;
  color:#fff;
  -webkit-transition:.3s linear;
  -moz-transition:.3s linear;
  -o-transition:.3s linear;
  transition:.3s linear;
  margin: 5px auto;
  display: inline-block;
  position:relative;
  border: none;
}


button.logoutbutton:hover
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/logoutHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
button.callendarbutton:hover
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/calendarHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
button.statbutton:hover
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/statHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
button.profilebutton:hover
{
  background:url("C:/Users/Boro/Documents/GitHub/Programowanie/PracaInzynierska/src/assets/userHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.panelBottom
{
  min-height: 40vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slideshow {
  width: 100%; 
  height: 50vh;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 10px #131313;
}

.hint
{
  font-family:sans-serif;
  font-size:14px;
  color:grey;
  padding-bottom:3px;
  padding-left:3px;
  text-align:center;
}

.error
{
  font-family:sans-serif;
  font-size:13px;
  color:red;
  padding-top:3px;
  padding-left:3px;
  text-align:center;
}
